<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teeti-colab</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/vendor/boxicons/css/boxicons.css">
</head>
<body>
    <div class="container-teeti">
        <aside class="aside">
            <div class="top-teeti">
                <div class="logo-teeti">
                    <h2>Teeti<span class="danger-teeti">Colab</span></h2>
                </div>
                <div class="close-teeti" id="close-btn">
                    <i class="bx bx-chevron-left-circle"></i>
                </div>
            </div>
            <div class="sidebar-teeti">
                <a class="active" href="#">
                    <i class="bx bxs-dashboard"></i>
                    <h3 >Dashboard</h3> 
                 </a>
                 <a href="#">
                    <i class="bx bx-code-curly"></i>
                    <h3>Projects</h3> 
                  </a>
                <a href="#">
                    <i class="bx bx-user-check"></i>
                    <h3>Profile</h3> 
                </a>
                <a href="#">
                    <i class="bx bx-data"></i>
                    <h3>Data Center</h3> 
                </a>
                <a href="#">
                    <i class="bx bx-notification"></i>
                    <h3>Messages</h3>
                    <span class="message-count">26</span>
                </a>
                <a href="#">
                    <i class="bx bxs-cog"></i>
                    <h3>Account Settings</h3> 
                </a>
                <a href="#">
                    <i class="bx bxs-log-out-circle"></i>
                    <h3>Logout</h3> 
                </a>
            </div>
        </aside>
        <!---End of side bar-->
        <main>
            <h1>Dashboard</h1>
            <div class="date-teeti">
                <input type="date" class="date">
            </div>
            <div class="form-box">
                <div class="progress-profile">
                    <div class="logo-profile">
                        <a href="#"><span>.Teeti</span>Colab</a>
                    </div>
                    <ul class="progress-steps">
                        <li class="step active">
                            <span>1</span>
                            <p>Profile <br><span>personal info</span></p>
                        </li>
                        <li class="step">
                            <span>2</span>
                            <p>Billing <br><span>billing info</span></p>
                        </li>
                        <li class="step">
                            <span>3</span>
                            <p>Security <br><span>your settings</span></p>
                        </li>
                    </ul>
                </div>
                <form method="post">
                    <div class="form-one active form-step">
                        <div class="bg-svg"></div>
                        <h2>Personal Information</h2>
                        <p>Update your profile correctly!</p>
                        <div class="profile-pic">
                            <img class="img-prev" src="./assets/img/pexels-pixabay-60894_wsfqhk.jpg" alt="">
                            <div class="buttons-pic">
                                <i class="bx bx-upload up" onclick="openfileprev()"></i>
                                <input id="prof-pic" class="js-profile-img-input" type="file" name="image" style="display: none;"/>
                                <i class="bx bx-trash del"></i>
                            </div>
                        </div>
                        <div>
                            <label for="fname">First Name</label>
                            <input type="text" id="fname" name="fname" placeholder="e.g. John">
                        </div>
                        <div>
                            <label for="lname">Last Name</label>
                            <input type="text" id="lname" name="lname" placeholder="e.g. Doe">
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" placeholder="e.g john@gmail.com">
                        </div>
                        <div class="birth">
                            <label for="bday">Date of Birth</label>
                            <div class="">
                                <input type="date" name="bday" id="bday">
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn-draft draft">Save to draft</button>
                        </div>
                    </div>
                    <div class="form-two form-step">
                        <div class="bg-svg"></div>
                        <h2>Billing Information</h2>
                        <div>
                            <label for="phone">Phone</label>
                            <input type="tel" name="phone" id="phone" placeholder="+XXXXXXXXX">
                        </div>
                        <div>
                            <label for="address">Address</label>
                            <input type="text" name="address" id="address" placeholder="Street Address">
                        </div>
                        <div>
                            <label for="city">City</label>
                            <input type="text" name="city" id="city" placeholder="Nairobi">
                        </div>
                        <div>
                            <label for="country">Country</label>
                            <input type="text" name="country" id="country" placeholder="Kenya">
                        </div>
                        <div>
                            <label for="zip">Zip Code</label>
                            <input type="text" name="zip" id="zip" placeholder="Postal/Zip code">
                        </div>
                    </div>
                    <div class="form-three form-step">
                        <div class="bg-svg"></div>
                        <h2>Security Information</h2>
                        <div>
                            <label for="cpsd">Confirm Password</label>
                            <input type="password" name="password" id="cpsd" placeholder="XXXXXXXXX">
                        </div>
                        <div>
                            <label for="npsd">New Password</label>
                            <input type="password" name="npassword" id="npsd" placeholder="XXXXXXXXX">
                        </div>
                        <div>
                            <label for="cnpsd">Confirm New Password</label>
                            <input type="password" name="cnpassword" id="cnpsd" placeholder="XXXXXXXXX">
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="check" checked>
                            <label>Receive our news letter and special offers</label>
                        </div>
                    </div> 
                <div class="btn-group">
                    <button type="button" class="btn-prev">Back</button>
                    <button type="button" class="btn-next">Next </button>
                    <button type="button" class="btn-submit">Submit</button>
                </div>
                </form>
            </div>
        </main>
        <div class="right-teeti">
            <div class="top-teeti">
                <button id="menu-btn-teeti">
                    <i class="bx bx-menu"></i>
                </button>
                <!--<div class="theme-toggler-teeti">
                    <i class="bx bx-sun active"></i>
                    <i class="bx bx-moon"></i>
                </div>-->
                <div class="profile-teeti">
                    <div class="info-teeti">
                        <p>Hey, <b>Dennis</b></p>
                        <small class="text-muted-teeti">Developer</small>
                    </div>
                    <div class="profile-photo-teeti">
                        <img src="./assets/img/pexels-pixabay-60894_wsfqhk.jpg" alt="">
                    </div>
                </div>
            </div>
            <!---END OF TOP-->
            <div class="recent-updates-teeti">
                <h2>Recent Updates</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo-teeti">
                            <img src="./assets/img/Winter_Workwear____From_commute_to_desk_to_dinner_-_Extra_Petite_koe85i.jpg" alt="">
                        </div>
                        <div class="message-teeti">
                            <p><b>Dennis Karani</b> received his order of a eccomerce delivery app.</p>
                            <small class="text-muted-teeti">2 Minutes Ago</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo-teeti">
                            <img src="./assets/img/Consiente_tu_rostro_con_estas_3_mascarillas_de_Nu_Skin_sdsadr.jpg" alt="">
                        </div>
                        <div class="message-teeti">
                            <p><b>Mary Jane</b> received her order for a landing page.</p>
                            <small class="text-muted-teeti">2 Minutes Ago</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-photo-teeti">
                            <img src="./assets/img/pexels-pixabay-60894_wsfqhk.jpg" alt="">
                        </div>
                        <div class="message-teeti">
                            <p><b>Cleopas Marara</b> received his order at data bank click <a href="#">here</a> to check it out?.</p>
                            <small class="text-muted-teeti">2 Minutes Ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <!---END OF RECENT UPDATES-->
            <div class="sales-analytics-teeti">
                <h2>Sales Analytics</h2>
                <div class="item online">
                    <div class="icon">
                        <i class="bx bx-cart"></i>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>ONLINE ORDERS</h3>
                            <small class="text-muted-teeti">Last 24 Hours</small>
                        </div>
                        <h5 class="success-teeti">+39%</h5>
                        <h3>3849</h3>
                    </div>
                </div>
                <div class="item offline">
                    <div class="icon">
                        <i class="bx bxs-shopping-bags"></i>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>OFFLINE ORDERS</h3>
                            <small class="text-muted-teeti">Last 24 Hours</small>
                        </div>
                        <h5 class="danger-teeti">-17%</h5>
                        <h3>3849</h3>
                    </div>
                </div>
                <div class="item customers">
                    <div class="icon">
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>NEW CUSTOMERS</h3>
                            <small class="text-muted-teeti">Last 24 Hours</small>
                        </div>
                        <h5 class="success-teeti">+25%</h5>
                        <h3>849</h3>
                    </div>
                </div>
                <div class="item add-product">
                    <div>
                        <i class="bx bx-add-to-queue"></i>
                        <h3>Add Product</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/main.js"></script>
</body>
</html>